<!DOCTYPE html>
<html lang="en" layout:decorator="${cfg.layoutUrl}">
<head>
    <meta charset="UTF-8">
    <title>${table.comment}</title>
</head>
<body layout:fragment="content">
<script>
    var rootPath = '[[${#httpServletRequest.getContextPath()}]]';
</script>
<script type="application/javascript" th:src="@{/js/${table.entityPath}/list.js}"></script>
<table class="layui-hide" id="table" lay-filter="table">
</table>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getAddData">新建</button>
    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail">详情</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="addDemo">
    <form class="layui-form" action="" id="addForm">
        #foreach($field in ${table.fields})
            #if(${field.keyFlag})##生成主键排在第一位
                <input type="hidden" value="" name="${field.propertyName}">
            #end
        #end
        #foreach($field in ${table.fields})
            #if(!${field.keyFlag})##生成普通字段
                <div class="layui-form-item">
                    <label class="layui-form-label">${field.comment}</label>
                    <div class="layui-input-block">
                        <input type="text" name="${field.propertyName}" required lay-verify="required"
                               autocomplete="on" class="layui-input">
                    </div>
                </div>
            #end
        #end
        <button type="button" class="sub-bindbtn" lay-submit lay-filter="bind" style="display: none;"></button>
    </form>
</script>
<script type="text/html" id="updateDemo">
    <form class="layui-form" action="" id="updateForm">
        #foreach($field in ${table.fields})
            #if(${field.keyFlag})##生成主键排在第一位
                <input type="hidden" name="${field.propertyName}"
                       value="{{d.${field.propertyName}==null?'':d.${field.propertyName}}}">
            #end
        #end
        #foreach($field in ${table.fields})
            #if(!${field.keyFlag})##生成普通字段
                <div class="layui-form-item">
                    <label class="layui-form-label">${field.comment}</label>
                    <div class="layui-input-block">
                        <input type="text" name="${field.propertyName}" required lay-verify="required"
                               autocomplete="on" class="layui-input"
                               value="{{d.${field.propertyName}==null?'':d.${field.propertyName}}}">
                    </div>
                </div>
            #end
        #end
        <button type="button" class="sub-bindbtn" lay-submit lay-filter="bind" style="display: none;"></button>
    </form>
</script>
<script type="text/html" id="detailDemo">
    <form class="layui-form" action="" id="detailForm">
        #foreach($field in ${table.fields})
            #if(!${field.keyFlag})##生成普通字段
                <div class="layui-form-item">
                    <label class="layui-form-label">${field.comment}</label>
                    <div class="layui-input-block">
                        <input class="layui-input" disabled
                               value="{{d.${field.propertyName}==null?'':d.${field.propertyName}}}"/>
                    </div>
                </div>
            #end
        #end
        #foreach($field in ${table.commonFields})##生成公共字段
            <div class="layui-form-item">
                <label class="layui-form-label">${field.comment}</label>
                <div class="layui-input-block">
                    <input class="layui-input" disabled
                           value="{{d.${field.propertyName}==null?'':d.${field.propertyName}}}"/>
                </div>
            </div>
        #end
    </form>
</script>
</body>
</html>